<div class="body">
  <div class="container">
      
    <h2>Book detail</h2>
    <div>
    <%= image_tag @book.get_image %>
    <p>Title：<%= @book.title %></p>
    <p>Opinion：<%= @book.body %></p>
    <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
    <%= link_to "edit", edit_book_path(@book.id) %>
    
    <% if @book.user == current_user %>
    <%= link_to "destroy", book_path(@book), method: :delete %>
    <% end %>
    </div>